.register-box {
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
}

.withdraw-box {
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  background-color: lightblue;
}